.emergency-list-header{
    background-color: rgb(247, 246, 246);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 0px;
}

.sub-heading{
    font-size: small;
}

.list li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(247, 246, 246);
    border-radius: 5px;
    margin-bottom: 5px;
    justify-content: space-evenly;
    margin-left: -30px;
    text-align: center;
}

.list li:hover{
    border: 1px solid black
}

.list li p, .additional-details p {
    width: 25%;
  }
  
  .main-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.additional-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sort{
    width: 100%;
}

.delete-button{
    width: 100px;
    text-align: center;
    padding: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    text-decoration: none;
    color: white;
    background-color: #425670;
    border-radius: 5px;
    border: #3f6ba5;
    margin-left: 5px;
}

/* 
** absolute
** fixed
** flex
** block
*/

.edit-form {
    z-index: 1010;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: black solid 2px;
    background-color: white;
    color: black;
    padding: 10px;
}

.edit-form-backdrop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
}