.nav-container{
    width: 100%;
    display: flex;
    flex-direction: row;
}

nav ul{
    list-style: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    font-size: small;
}

nav ul li {
    float: left;
    padding: 16px;
}

.nav-image1{
    width: 240px;
    height: 75px;
    margin-top: -25px;
}

.nav-image2{
    width: 145px;
    height: 120px;
    margin-top: -54px;
}

#first-link{
    padding-left: 150px;
}

.links a{
    text-decoration: none;
    color: black;
    &:hover{
        color: #3f6ba5;
    }
}

.links{
    margin-right: 40px;
}   

.inputBox{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    /* border: 1px solid #ffffff; */
    padding: 20px;
}

.session-button {
    text-align: center;
    padding: 10px;  
        /* color: white; */
    /* border: none;
    padding: 10px 50px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    text-align: center; */
}

/* .session-button:hover {
    background-color: #0056b3;
} */